html{
  background-image: url('../public/assets/keyboard.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.banner-div{
  background-color: #3B7197;
  display: flex;
  justify-content: space-between;
  padding-right: 2vw;
  padding-left: 2vw;
}
.banner-div nav{
  width:40%;
  background-color: #3B7197;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.banner-div nav a{
  margin-top: .5vw;
  margin-bottom: .5vw;
  padding:1vw;
  border-radius: 20px;
  background-color:#4A8DB7;
  display: inline-block;
  text-decoration: none;
}

.banner-div nav a:hover{
  background-color: #A1E1FA;
}

.aboutme{
  margin-top:20vw;
  background-color: #3B7197;
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  height:20vw;
  align-items: center;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  padding-bottom: 5vw;
}
.aboutme img{
  border-radius: 20vw;
  width:20vw;
}

.aboutme p{
  width:65%;
}

.aboutmeinfo{
  display:flex;
  flex-flow: row;
  justify-content: space-between;
}

.skills{
  margin-top: 10vw;
  padding-top: 2vw;
  padding-bottom: 5vw;
  background-color: #3B7197;
  text-align: center;
  height:15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.skillsicons{
  width:60vw;
}
.skillsicons img{
  width:6vw;
}




