html{
  background-image: url('../public/assets/pexels-karolina-grabowska-5208871.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.banner-div{
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  padding-right: 2vw;
  padding-left: 2vw;
}
.banner-div nav{
  width:40%;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.aboutme{
  margin-top:20vw;
  background-color: antiquewhite;
  display:flex;
  flex-flow: column;
  justify-content: center;
  height:30vw;
  align-items: center;
  width:60vw;
  padding-left: 20vw;
  padding-right: 20vw;
}
.aboutme img{
  border-radius: 20vw;
  width:20vw;
}

.aboutmeinfo{
  display:flex;
  flex-flow: row;
}

.skills{
  margin-top: 10vw;
}