html{
  background-image: url('../public/assets/pexels-karolina-grabowska-5208871.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.banner-div{
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  padding-right: 2vw;
  padding-left: 2vw;
}
.banner-div nav{
  width:40%;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.banner-div nav a{
  margin-top: .5vw;
  margin-bottom: .5vw;
  padding:1vw;
  border-radius: 20px;
  background-color: burlywood;
}

.banner-div nav a:hover{
  background-color: aliceblue;
}

.aboutme{
  margin-top:20vw;
  background-color: antiquewhite;
  display:flex;
  flex-flow: column;
  justify-content: center;
  height:30vw;
  align-items: center;
  width:70vw;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5vw;
}
.aboutme img{
  border-radius: 20vw;
  width:20vw;
}

.aboutme p{
  width:65%;
}

.aboutmeinfo{
  display:flex;
  flex-flow: row;
  justify-content: space-between;
}

.skills{
  margin-top: 10vw;
  padding-top: 2vw;
  padding-bottom: 5vw;
  background-color: antiquewhite;
  text-align: center;
  height:20vw;
}

.skillsicons img{
  width:8vw;
}